<div class="flex justify-center" >
   <img class="object-cover"src="https://openseauserdata.com/files/7ec1586334347295589ce777ff8139a5.jpg" alt="" srcset="">
</div>
<button class="error"><a href="/" >Back to HOME PAGE</a></button> 